.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    flex-direction: column;
}

.title {
    font-size: 32px;
    letter-spacing: -2%;
    font-weight:500;
}

.input {
    width: 60vh;
    height: 5vh;
    border-radius: 4px;
    border: none;
    box-shadow: 5px 5px 21px rgba(0, 0, 0, 0.1);
    padding-left: 2vh;
}

input[type=text]:focus {
    
    outline: none;

  }





.filter-btn {
    margin-left: -6vh;
    height: 2vh;
    background-color: white;
    border: none;
    margin-top: 3px;
}

@media screen and (min-width: 350px) and (max-width: 900px) {
 
  
    .input {
      width: 30vh;
      height: 5vh;
      margin-top: 5vh;
   
      }
  }
  

